# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source


# test & build
/coverage
/.vscode
/.next/
/out/
/build
*.tsbuildinfo
.env*.local
.env

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.env
.vercel
next-env.d.ts